.CarteStats {
  background-color: rgba(196, 164, 159, 1);
  padding: 16px;
  gap: 8px;
  border-radius: 16px;
  width: 40%;
  align-items: center;
}

.Title {
  font-size: 16px;
  font-family: var(--FontFamilyInter);
  color: rgba(58, 58, 54, 1);
  font-weight: 700;
}
.Value {
  font-family: var(--FontFamilyInter);
  font-size: 30px;
  color: rgba(58, 58, 54, 1);
  font-weight: 900;
}
.Completed {
  background-color: rgba(240, 209, 168, 1);
}
